<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossful</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> <!-- Base styling -->
    {% block head %}{% endblock %} <!-- Each sub-page has it's own stylesheet -->
</head>
<body>
    <!-- Nav bar stays the same on every sub-page -->
    <nav>
        <span class="glossful">Glossful</span>
        <div class="links">
            <a href="/">Home</a>
            <a href="/flashcards">Flashcards</a>
            <a href="/topics">Topics</a>
            <a href="/grammar">Grammar</a>
            <a href="/reading">Reading</a>
        </div>
    </nav>

    {% block content %}{% endblock %} <!-- Each sub-page has it's own block -->

    <!-- Fixed footer for every sub-page -->
    <footer>
        <div class="content-right">
            <h1>Glossful</h1>
            <p>powered by Wiktor Skrzynecki</p>
        </div>
        <div class="vl"></div>
        <div class="content-left">
            <a href="https://github.com/Hadevsh" target="_blank">GitHub</a>
            <a href="https://codepen.io/Hadevsh" target="_blank">CodePen</a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script> <!-- Base script (for all sub-pages) -->
</body>
</html>