{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
{% endblock %}

{% block content %}
<h1><span id="language">English</span> Flashcards</h1>
<select name="language" id="lang-select" class="lang">
    <!-- Generate dynamically -->
    <!-- Placeholders: -->
    <option value="en" selected>English</option>
    <option value="nl">Nederlands</option>
    <option value="es">Español</option>
    <option value="pl">Polski</option>
</select>
<div class="container">
    <div class="categories">
        <!-- Placeholders: -->        
        <a>Food</a>
        <a>Travel</a>
        <a>Bussiness</a>
        <a>Noun</a>
        <a>Verb</a>
    </div>
    <div class="card">
        <!-- Generated dynamically -->
        <!-- Placeholders: -->
        <p class="word">Programming</p>
        <p class="type">noun</p>
        <p class="pronunciation">/ˈpɹəʊɡɹəmɪŋ/</p>
        <!-- There can be multiple definitions -->
        <p class="definition">
            <!-- Multiple definitions genereated dynamically -->
            (broadcasting) The designing, scheduling or planning of a radio or television program/programme.
        </p>
        <p class="sentence">The network changed its <b>programming</b> to mess with DVRs again.</p>
    </div>
</div>
{% endblock %}