{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
{% endblock %}

{% block content %}
<h1><span id="language">English</span> Flashcards</h1>
<div class="container">
    <div class="categories">
        <!-- Placeholders: -->
        <p>Food</p>
        <p>Travel</p>
        <p>Bussiness</p>
        <p>Noun</p>
        <p>Verb</p>
    </div>
    <div class="card">
        <!-- Generate dynamically -->
        <!-- Placeholders: -->
    </div>
</div>
{% endblock %}