{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grammar.css') }}">
{% endblock %}

{% block content %}
<h1><span id="language">English</span> Grammar</h1>
<select name="language" id="lang-select">
    <!-- Generate dynamically -->
    <!-- Placeholders: -->
    <option value="en" selected>English</option>
    <option value="nl">Nederlands</option>
    <option value="es">Español</option>
    <option value="pl">Polski</option>
</select>
<div class="container">
    <div class="categories">
        <!-- Placeholders: -->        
        <a>A0</a>
        <a>A1</a>
        <a>A2</a>
        <a>B1</a>
        <a>B2</a>
        <a>C1</a>
        <a>C2</a>
    </div>
    <div class="content">
        <!-- Generated dynamically from a markdown file -->
        <!-- Placeholder: -->
        <h2>A0 Grammar for Beginners</h2>
        <h3>Basic Sentence Structure</h3>
        <p>
            <b>Sentence Formula</b>: Subject + Verb + Object <br>
            <i>Example</i>: <br>
            <b>I eat apple.</b> (Basic idea; later, learn to add articles: “I eat an apple.”)
        </p>
    </div>
</div>
{% endblock %}