{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grammar.css') }}">
{% endblock %}

{% block content %}
<h1><span id="language">English</span> Grammar</h1>
<select name="language" id="lang-select" class="lang">
    <!-- Generate dynamically -->
    <!-- Placeholders: -->
    <option value="en" selected>English</option>
    <option value="nl">Nederlands</option>
    <option value="es">Español</option>
    <option value="pl">Polski</option>
</select>
<div class="container">
    <div class="categories">
        <!-- Placeholders: -->        
        <a>A0</a>
        <a>A1</a>
        <a>A2</a>
        <a>B1</a>
        <a>B2</a>
        <a>C1</a>
        <a>C2</a>
    </div>
    <div class="content">
        <!-- Generated dynamically from a markdown file -->
    </div>
</div>
{% endblock %}